html, body {
 font-family: sans-serif;
 text-align: center;
 height: 100%;
 margin: 0;
 padding: 0;
 width: 100%;
}
.container {
 margin: auto;
 text-align: center;
}
main {
 padding: 2rem;
 font-size: 1rem;
}
.title {
 font-size: 3rem;
 animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
 from {
 opacity: 0;
 transform: translateY(-20px);
 }
 to {
 opacity: 1;
 transform: translateY(0);
 }
}

.przepis {
  margin-top: 30px;
  background-color: white;
  padding: 15px;
  padding-right: 70px;
  display: inline-block;
  border: solid 2px black;
}
.przepis-zawartosc {
  display: flex;
}
.tabelka tr th {
  border: solid 2px black;
  position: relative;
  left: 15px;
  padding: 15px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
}
.img {
  max-height: 20vh;
  max-width: 20vw;
  border: solid 2px black;
}

.Header-links-ul{
    display: flex;
    justify-content: space-around;
}
